header {
	background-color: rgba(19, 18, 18, 0);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 8vh;
	padding: 3px;
}
header img {
	width: 40vh ;
	height: 8.8vh;
	margin-right: 0.3rem;
}
